.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
.signUp{
    border: none;
    border-radius: 5px 5px;
    background-color: #4CAF4F;
    color: #f1f3f1;
    padding: 5px;
}
.login{
    border: none;
    background:none;
    color: #4CAF4F;
    font-weight: 1000;
}
.nav >div> h3{
    font-size: 200px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.hero-section {
    background-color: #f5f5fa;
    justify-content: space-evenly;
    display: flex;
    padding-top: 90px;
}
    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "IBM Plex Sans", sans-serif;
        gap: 55px;
    }
    .learnMore{
        background-color: #4CAF4F;
        border-radius: 3px;
        padding: 10px;
        border: none;
        color: #f1f3f1;
        margin-top: 10px;
    }
    .section7{
        display: flex;
        gap: 5%;
        justify-content: space-evenly;
    }
    .image{
        width: 400px;
        object-fit: contain;
    }
    .main-container{
    padding-top:-10px;
        gap:0;
    }
@media screen and (max-width: 728px){
    .section7 {
        display: flex;
        flex-direction: column;
    }
        .section7 > img {
            display: none;
        }
 }