#result{
    background: darkgrey;
    color: black;
    font-size: large;
    text-align: end;
    border:none;
    margin-right: 6px ;
    padding-block: 0.75rem 0.75rem;
    border-radius: 4px 4px 0 0;
    width: 37.2vw;
}
.input{
    width: 100%;
}
.all{
    width: 100%;
 }
.body1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.body1>button{
    padding: 0.5rem
}
.body1>button:active{
    background-color: #5f9ea0;
}
.operator{
    background-color: #f5f5dc;
    border: none;
}
.operator:active{
    background-color: #55959b;
}
.enter{
    border: none;
    grid-column: 4 / 4;
    grid-row: 2 / span 5;
    background-color: #ee902c;
}
.maincontainer{
    margin-inline: 30%;
    margin-top: 12%;
    border: #4CAF4F solid 2px;
    border-radius: 4px;
    padding: 0.8%;
}
@media(prefers-reduced-motion: no-preference)
#result{
    width: 25vw;
}
